<ion-view title="{{charity.name}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <img ng-src="{{charity.thumbnail}}">
      </div>
      <div class="col">
        <h2>{{charity.name}}</h2>
      </div>
    </div>
    <div class="row">
      <p>{{charity.description}}</p>
    </div>
    <div class="row">
      <p>Visit the website for <a href="{{charity.url}}"
        onclick="window.open(this.href, ‘_system’, ‘location=yes’);  return false;">
        {{charity.name}}</a>
      </p>
    </div>
  </ion-content>
</ion-view>
