<ion-popover-view class="fit">
  <ion-header-bar>
    <h1 class="title">Edit Charity List</h1>
  </ion-header-bar>
  <ion-content>
    <ion-toggle toggle-class="toggle-positive"
                ng-model="isReordering"
                ng-checked="isReordering"
                ng-change="onPopoverReorderToggle();">
                Set Swipe Order
    </ion-toggle>
    <ion-toggle toggle-class="toggle-positive"
                ng-model="isDisabledItems"
                ng-checked="isDisabledItems"
                ng-change="onPopoverDisableToggle();">
                Show Disabled Items
    </ion-toggle>
    <ion-toggle toggle-class="toggle-positive"
                ng-model="isSearch"
                ng-checked="isSearch"
                ng-change="onPopoverSearchToggle();">
                Enable Search
    </ion-toggle>
  </ion-content>
</ion-popover-view>
