<ion-view view-title="Settings">
  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-divider item-text-wrap">
        Choose type of adverts
        <p>Full screen ads will generate more revenue for your chosen charity</p>
      </ion-item>

      <ion-checkbox ng-repeat="item in adTypes"
                    ng-model="item.isOn"
                    ng-checked="item.isOn"
                    ng-change="onAdTypeChange( item );">
                    {{ item.name }}
      </ion-checkbox>

      <!--<ion-radio ng-repeat="item in adTypes"
                 ng-value="item.isOn"
                 ng-model="item.isOn"
                 ng-checked="adType.isOn"
                 ng-click="onAdTypeChange( item );">
                 {{ item.name }}
      </ion-radio>-->

    </ion-list>

    <ion-list>

      <ion-item class="item item-divider">
        Use these locations
      </ion-item>

      <!--<ion-checkbox ng-repeat="location in locations"
                    ng-model="location.isOn"
                    ng-checked="location.isOn">
                    {{ location.name }}
      </ion-checkbox>-->

      <ion-toggle toggle-class="toggle"
                  ng-repeat="item in locations"
                  ng-model="item.isOn"
                  ng-checked="item.isOn">
                  {{item.name}}
      </ion-toggle>

    </ion-list>

    <ion-list>

      <ion-item class="item item-divider">
        Developer
      </ion-item>

      <ion-item class="item">
        <button class="button button-block button-stable button-outline" on-tap="resetDefaults();">
          Reset to Defaults
        </button>
      </ion-item>

      <ion-item class="item">
        <div class="item item-text-wrap">
          <p>{{platformSettings}}</p>
        </div>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
