<ion-view view-title="Give">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="onEditToggle();">
      {{isEditing ? 'Finished' : 'Edit'}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding">
    <!--  | orderBy:'disabled'" -->
    <div class="charity-grid-item"
        collection-repeat="charity in charities | removeDisabledItems:isEditing"
        item-height="160" item-width="33%">

       <div ng-if="isEditing">
         <button class="button button-icon icon give-edit-icon ion-more" on-tap="onMoreTap($event, charity);"></button>
         <button class="button button-icon icon give-edit-icon ion-drag" on-tap=""></button>
         <div class="{{charity.disabled ? 'charity-grid-item-disabled' : ''}}">
            <img ng-src="{{charity.thumbnail}}">
            <p class="charity-grid-item-text">{{charity.name}}</p>
        </div>
       </div>

       <div ng-if="!isEditing">
         <a href="#/tab/give/{{charity.id}}">
           <img ng-src="{{charity.thumbnail}}">
         </a>
         <p class="charity-grid-item-text">{{charity.name}}</p>
       </div>
       
    </div>

    <!-- Using List -->
    <!--
    <ion-list show-reorder="false" can-swipe="true">

      <ion-item collection-repeat="charity in charities"
                class="item-thumbnail-left item-icon-right"
                href="#/tab/give/{{charity.id}}">

        <img ng-src="img/breast_cancer_small.png">
        <h2>{{charity.name}}</h2>

        <i class="icon ion-ios-arrow-left"></i>
        <ion-option-button class="button-assertive">Disable</ion-option-button>
        <ion-reorder-button class="ion-drag"></ion-reorder-button>

      </ion-item>

    </ion-list>
  -->
  </ion-content>
</ion-view>
