<ion-view view-title="Give For Free">
  <ion-content>

    <div class="card">

      <div class="item item-divider">
        <h2>Welcome To Give For Free</h2>
      </div>

      <div class="item item-text-wrap">
        <p>Simply tap on the heart and choose a charity to support and wait for the advert to load or alternatively
          choose the top one from the list and swipe left and right through them all.</p>
        <p>Every view will generate money for your chosen charity.</p>
        <p>If you have a special chosen charity you can leave its page open the the adverts will refresh generating
          more money for them.</p>
        <p>Easy :) Thank you. <a href="http://www.giveforfreeonline.org"
          onclick="window.open(this.href, ‘_system’, ‘location=yes’);  return false;">
          More information</a></p>
      </div>

      <div class="item item-divider">
        <a class="button button-icon icon ion-email" on-tap="onOpenLink(this);" href="mailto:support@giveforfreeonline.org"></a>
        <a class="button button-icon icon ion-social-facebook" on-tap="onOpenLink(this);" href="https://www.facebook.com/Give-For-Free-643061692510804/"></a>
        <a class="button button-icon icon ion-social-twitter" on-tap="onOpenLink(this);" href="https://twitter.com/_giveforfree_"></a>
      </div>

    </div>

  </ion-content>
</ion-view>
