<ion-view view-title="Settings">
  <ion-content class="padding">

    <ion-list>

      <ion-item class="item item-divider item-text-wrap">
        Choose type of adverts
        <p>Full screen ads will generate more revenue for your chosen charity</p>
      </ion-item>

      <ion-toggle toggle-class="toggle"
                  ng-repeat="item in adTypes"
                  ng-model="item.isOn"
                  ng-checked="item.isOn"
                  ng-change="onAdTypeChange( item );">
                  {{item.name}}
      </ion-toggle>

      <!--
      <ion-checkbox ng-repeat="item in adTypes"
                    ng-model="item.isOn"
                    ng-checked="item.isOn"
                    ng-change="onAdTypeChange( item );">
                    {{ item.name }}
      </ion-checkbox>
    -->

<!--
      <ion-radio ng-repeat="item in adTypes"
                 ng-value="item.isOn"
                 ng-model="item.isOn"
                 ng-checked="item.isOn"
                 ng-click="onAdTypeChange( item );">
                 {{ item.name }}
      </ion-radio>
    -->
    <!--
      <div ng-repeat="item in adTypes">
        <label class="item item-radio">
        <input type="radio"
               name="adTypes"
               ng-model="item.isOn"
               ng-value="item.isOn"
               ng-checked="item.isOn"
               ng-click="onAdTypeChange( item );">
            <div class="item-content">
               {{ item.name }}
            </div>
            <i class="radio-icon ion-checkmark"></i>
         </label>
      </div>
    -->

    <!--
    <label class="item item-radio">
    <input type="radio"
           name="adTypes"
           ng-model="adTypes[0].isOn"
           ng-checked="adTypes[0].isOn"
           ng-click="onAdTypeChange( adTypes[0] );">
        <div class="item-content">
           {{ adTypes[0].name }}
        </div>
        <i class="radio-icon ion-checkmark"></i>
     </label>

     <label class="item item-radio">
     <input type="radio"
            name="adTypes"
            ng-model="adTypes[1].isOn"
            ng-value="adTypes[1].isOn"
            ng-checked="adTypes[1].isOn"
            ng-click="onAdTypeChange( adTypes[1] );">
         <div class="item-content">
            {{ adTypes[1].name }}
         </div>
         <i class="radio-icon ion-checkmark"></i>
      </label>
    -->

      <ion-item class="item item-divider">
        Use these locations
      </ion-item>

      <!--
      <ion-checkbox ng-repeat="item in locations"
                    ng-model="item.isOn"
                    ng-checked="item.isOn">
                    {{ item.name }}
      </ion-checkbox>
-->

      <ion-toggle toggle-class="toggle"
                  ng-repeat="item in locations"
                  ng-model="item.isOn"
                  ng-checked="item.isOn">
                  {{item.name}}
      </ion-toggle>

    </ion-list>

    <ion-list>

      <ion-item class="item item-divider">
        Developer
      </ion-item>

      <ion-item class="item">
        <button class="button button-block button-stable button-outline" on-tap="resetDefaults();">
          Reset to Defaults
        </button>
      </ion-item>

      <ion-item class="item">
        <div class="item item-text-wrap">
          <p>{{platformSettings}}</p>
        </div>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
