/*Give List*/
img.charity-list-item-disabled {
  opacity: 0.3;
}

/*Give Search*/
div.collapse {
  display:none;
}

div.give-detail-center-heading{
  text-align: center;
}

button.give-edit-icon::before {
    font-size: 20px !important;
}

/*Give Popover*/
ion-popover-view.fit {
  height: auto;
  width: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit .item:first-child {
  border-radius: 10px 10px 0 0;
}
.platform-ios ion-popover-view.fit .item:last-child {
  border-radius: 0 0 10px 10px;
}

/*Give Detail Animation*/
.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.give-detail-animate-show.ng-hide-remove {
  transition: height 0.5s linear, opacity 1s linear;
  opacity: 1;
  height: 224px;
}

.give-detail-animate-show.ng-hide {
  height: 0px;
  opacity: 0;
}
