/*Login*/
p.error-message{
  color: red;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  margin-top: 10px;
}

p.message {
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  margin-top: 10px;
}

.password-form .item-input>input+button.activated {
  opacity: 1;
}

.password-form .item-input>input+button>i {
  font-size: 24px;
}

/*Give List*/
img.charity-list-item-disabled {
  opacity: 0.3;
}

/*Give Search*/
div.collapse {
  display:none;
}

button.give-edit-icon::before {
    font-size: 20px !important;
}

.button.squash-button {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 1px;
}

/*Give Popover*/
ion-popover-view.fit {
  height: auto;
  width: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit .item:first-child {
  border-radius: 10px 10px 0 0;
}
.platform-ios ion-popover-view.fit .item:last-child {
  border-radius: 0 0 10px 10px;
}

/*Give Detail Animation*/
.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.give-detail-animate-show.ng-hide-remove {
  transition: height 0.5s linear, opacity 1s linear;
  opacity: 1;
  height: 224px;
}

.give-detail-animate-show.ng-hide {
  height: 0px;
  opacity: 0;
}
